window#osd {
  padding: 0px 5px;
  border-radius: 25px;
  border: 2px solid whitesmoke;
  background: alpha(#000000, 0.8);
}
window#osd #container {
    margin: 16px;
}
window#osd image,
window#osd label {
   color: whitesmoke;
}
window#osd progressbar:disabled,
window#osd image:disabled {
   opacity: 0.5;
   color: red;
}
window#osd progressbar {
    min-height: 6px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #200a0a;
}
window#osd trough {
    min-height: inherit;
    border-radius: inherit;s
    border: none;
    background: #505050;
}
window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: whitesmoke;
}
