* {
  /* `otf-font-awesome` is required to be installed for icons */
  border-radius: 0;
  margin-top: 0px;
  margin-right: 0px;
  font-family: MononokiNerdFont;
  font-size: 12px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.9);
}

#workspaces button {
  padding: 0 5px;
  border-top: whitesmoke solid  1px;
}

#workspaces button.focused {
  color: #f5f5f5;
}

#workspaces button.active {
  color: #ff0000;
  border-top:  1px solid #ff0000;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  background: whitesmoke;
  color: #454545;
  border-top: red solid  1px;
}

tooltip {
  background: rgba(20,20,20,0.8);
  border: 2px solid transparent;
  border-radius: 7px;
  /* border-image: linear-gradient( */
  /*   25deg, */
  /*   rgba(142, 57, 227, 1) 0%, */
  /*   rgba(230, 60, 153, 1) 16%, */
  /*   rgba(255, 55, 41, 1) 32%, */
  /*   rgba(240, 186, 120, 1) 55%, */
  /*   rgba(198, 247, 188, 1) 79%, */
  /*   rgba(142, 250, 203, 1) 90%, */
  /*   rgba(0, 195, 255, 1) 100% */
  /* )1; */
  background: 
    linear-gradient(#202020, #202020) padding-box,
    linear-gradient(
		25deg,
		rgba(142, 57, 227, 1) 0%,
		rgba(230, 60, 153, 1) 16%,
		rgba(255, 55, 41, 1) 32%,
		rgba(240, 186, 120, 1) 55%,
		rgba(198, 247, 188, 1) 79%,
		rgba(142, 250, 203, 1) 90%,
		rgba(0, 195, 255, 1) 100%
	) border-box;
}

tooltip label {
  color: whitesmoke;
  background: transparent;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#custom-media,
#idle_inhibitor,
#language,
#custom-notification,
#custom-clipboard,
#window,
#tray > .active {
  border-top: whitesmoke solid  1px;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

#pulseaudio.output.muted {
  color: gray;
  border-top:  1px solid gray;
}

#battery.charging,
#battery.plugged {
  color: #ffff00;
  border-top: #ffff00  1px solid;
}

#battery.full {
  color: #0a95d5;
  border-top: #0a95d5  1px solid;
}

#battery.warning:not(.charging) {
  color: #ffc000;
}

#battery.critical:not(.charging) {
  background-color: rgba(100, 20, 20, 0.6);
  color: #ff0000;
}

#idle_inhibitor {
  color: #00ffff;
}

#idle_inhibitor.activated {
  color: #ff00ff;
  background-color: rgba(100, 20, 20, 0.6);
  border-top: red  1px solid;
}

#clock:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#custom-media:hover,
#idle_inhibitor:hover,
#language:hover,
#custom-notification:hover,
#custom-clipboard:hover,
#window:hover,
#tray > .active:hover {
  padding-left: 5px;
  padding-right: 5px;
  color: #454545;
  background: whitesmoke;
  border-top: red  1px solid;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
