* {
  /* `otf-font-awesome` is required to be installed for icons */
  border-radius: 0;
  margin-top: 0px;
  margin-right: 0px;

  font-family: MononokiNerdFont;
  font-size: 13px;
}
window#waybar {
  background: rgba(20, 20, 20, 0.9);
}

#workspaces button {
  padding: 0 5px;
  border-radius: 4px;
}

#workspaces button.focused {
  color: #f5f5f5;
}

#workspaces button.active {
  color: #ff0000;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}
#workspaces button:hover {
  background: whitesmoke;
  color: #454545;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#custom-media,
#idle_inhibitor,
#language,
#custom-notification,
#custom-clipboard,
#window,
#tray {
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

#pulseaudio.output.muted {
  color: gray;
}

#battery.charging,
#battery.plugged {
  color: #ffff00;
}
#battery.full {
  color: #0a95d5;
}
#battery.warning:not(.charging) {
  background-color: #000000;
  color: #ffc000;
}
#battery.critical:not(.charging) {
  background-color: rgba(100, 20, 20, 0.6);
  color: #ff0000;
}

#idle_inhibitor {
  color: #00ffff;
}
#idle_inhibitor.activated {
  color: #ff00ff;
  background-color: rgba(100, 20, 20, 0.6);
}

#clock:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#custom-media:hover,
#idle_inhibitor:hover,
#language:hover,
#custom-notification:hover,
#custom-clipboard:hover,
#window:hover,
#tray > .active:hover {
  padding-left: 5px;
  padding-right: 5px;
  color: #454545;
  background: whitesmoke;
  border-radius: 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
